.red{
	background: red;
	z-index: 3;
	padding: 25px;
	position: absolute;
	left: 50;
	top: 50;

}
.yellow{
	background:#DAB62D;
	z-index: 2;
	padding: 50px;
	position: absolute;
	left: 25;
	top: 25;
}
.parrotgreen{
	background: #3F8E42;
    z-index: 1;
    padding: 50px;
    position: absolute;
    left: 0;
    top: 0
}
