.gallery{
	list-style:none;
	padding:0;
	margin: 10px 0;
	overflow: auto;
}

.gallery li {
	float:left;
	margin: 5px;
}

form select, form textarea, form input, form label{
	margin: 10px;
}

form .ng-dirty.ng-invalid {
	border: 1px solid red;
}

form .ng-dirty.ng-valid {
	border: 1px solid green;
}