
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-regular-webfont.woff") format("woff"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-regular-webfont.ttf") format("truetype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-regular-webfont.svg#open_sansregular") format("svg");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: normal;
    src: url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-italic-webfont.woff") format("woff"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-italic-webfont.ttf") format("truetype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-italic-webfont.svg#open_sansitalic") format("svg");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bold-webfont.woff") format("woff"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bold-webfont.ttf") format("truetype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bold-webfont.svg#open_sansbold") format("svg");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
    src: url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bolditalic-webfont.woff") format("woff"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bolditalic-webfont.ttf") format("truetype"), url("http://static.mailchimp.com/web/assets/fonts/open-sans/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 100;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Thin-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Thin-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Thin-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Thin-Web.svg#Graphik-Thin") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 100;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ThinItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ThinItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ThinItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ThinItalic-Web.svg#Graphik-ThinItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 200;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Extralight-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Extralight-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Extralight-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Extralight-Web.svg#Graphik-Extralight") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 200;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ExtralightItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ExtralightItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ExtralightItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-ExtralightItalic-Web.svg#Graphik-ExtralightItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Light-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Light-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Light-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Light-Web.svg#Graphik-Light") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 300;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-LightItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-LightItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-LightItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-LightItalic-Web.svg#Graphik-LightItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Regular-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Regular-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Regular-Web.svg#Graphik-Regular") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-RegularItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-RegularItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-RegularItalic-Web.svg#Graphik-RegularItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Medium-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Medium-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Medium-Web.svg#Graphik-Medium") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 500;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-MediumItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-MediumItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-MediumItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-MediumItalic-Web.svg#Graphik-MediumItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Semibold-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Semibold-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Semibold-Web.svg#Graphik-Semibold") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 600;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SemiboldItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SemiboldItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SemiboldItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SemiboldItalic-Web.svg#Graphik-SemiboldItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Bold-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Bold-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Bold-Web.svg#Graphik-Bold") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BoldItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BoldItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BoldItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BoldItalic-Web.svg#Graphik-BoldItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Black-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Black-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Black-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Black-Web.svg#Graphik-Black") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 800;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BlackItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BlackItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BlackItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-BlackItalic-Web.svg#Graphik-BlackItalic") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Super-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Super-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Super-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-Super-Web.svg#Graphik-Super") format("svg");
}
@font-face {
    font-family: "Graphik";
    font-stretch: normal;
    font-style: italic;
    font-weight: 900;
    src: url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SuperItalic-Web.eot?#iefix") format("embedded-opentype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SuperItalic-Web.woff") format("woff"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SuperItalic-Web.ttf") format("truetype"), url("https://static.mailchimp.com/web/assets/fonts/graphik/Graphik-SuperItalic-Web.svg#Graphik-SuperItalic") format("svg");
}


