body {
	font-family: Arial, Helvetica, sans-serif;
    background: #2baffa url(http://www.csszengarden.com/200/pics/content_background.jpg) repeat-y top left;
    font-size: 0.8em;
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background: #2baffa url(http://www.csszengarden.com/200/pics/header.jpg) no-repeat top left;
    height: 467px;
    width: 100%;
}

header h1, header h2{
	display: none;
}

.summary {
    font-size: 0.8em;
    overflow: hidden;
    position: absolute;
    left: 590px;
    top: 140px;
    height: 140px;
    text-align: center;
    width: 230px;
    z-index: 3;
}

abbr {
    border-bottom: #fff dotted 1px;
    cursor: help;
}

.summary a {
    text-transform: uppercase;
}

a:link, a:visited {
    color: #a9e0ff;
    text-decoration: none;
    border-bottom: #a9e0ff dotted 1px;
}

.preamble, .supporting {
	position: relative;
    text-align: justify;
    width: 370px;
    top: 302px;
    left: 150px;
    z-index: 4;
}

.supporting {
    width: 370px;
    left: 150px;
    margin-top: 0;
    padding-bottom: 40px;
}

.sidebar {
    position: absolute;
    top: 251px;
    width: 210px;
    text-align: center;
    left: 602px;
    font-size: 0.85em;
    background: transparent url(pics/right_list_bg.jpg) repeat-y top left;
}

.preamble h3{
	height: 55px;
	margin-top: 40px;
	background: transparent url(http://www.csszengarden.com/200/pics/header1.gif) no-repeat center top;	
	text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}