#calculator {
  width: 325px;
  height: auto;
  margin: 100px auto;
  padding: 20px 20px 10px;
  background: #FFFFFF;
 /* background: linear-gradient(#F3F3F3, #FFFFFF);*/
  border-radius: 1px;
  border: 1px solid black;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  }
  html {
  height: 100%;
  background: white;
  /*background: radial-gradient(circle, #fff 20%, #ccc);*/
  background-size: cover;
}
.top span.clear {
  float: left;
}
.top .screen {
  margin-top: 20px;
  height: 40px;
  width: auto;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #C0C0C0;
  border-radius: 1px;
  font-size: 17px;
  line-height: 40px;
  color: black;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px;
}
.keys, .top, .clearValue {
  overflow: hidden;
}
.keys span, .clearValue span.clear {
  color: #444;
  font-weight: normal;
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 66px;
  height: 36px;
  background: #F3F3F3;
  border: 1px solid #C0C0C0;
  border-radius: 1px;
  margin: 10px 7px 11px 0;
  font-size: 17px;
  line-height: 36px;
  text-align: center; 
  user-select: none;
  transition: all 0.2s ease;
}
.clearValue span.clear {
  float: right;
  margin-right: 0px;
  background: #D5D5D5;
}
#op{
  background: #D5D5D5;
}
.keys span.operator {
  background: #FFF0F5;
  margin-right: 0px;
}
.keys span.equalsTo {
  background: #4989F1;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}
.keys span:hover {
  background: #F3F3F3;
}
.keys span.equalsTo:hover {
  background: #4989F1;
}
.keys span.operator:hover,.clearValue span.clear:hover {
  background: #FFF0F5;
}
.keys span:active, .keys span.equalsTo:active, .clearValue span.clear:active {
  top: 1px;
}