body{
	font-family: Georgia, Times, "Times New Roman", serif;
	letter-spacing: 1px;
}
.tooltip_btn {
	display: inline-block;
	margin-right: 20px;
}

.tooltip_size {
	width: 100%;
}
.tooltip_text {
	background-color: #424242;
	border: solid 1px #a5b1bd;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	color: white;
	font-weight: normal;
	margin-right: 10px;
	padding: 4px 10px;
	position: relative;
	text-align: center;
	height: 50px;
	border-radius: 6px;
	line-height: 50px;
}

.tooltip_size > .tooltip_text {
	display: block;
	float: none;
	font-size: 18px;
	margin-right: 0;
	margin-bottom: 12px;
	padding: 10px 0;
}

.tooltip_text:before, .tooltip_text:after {
	content: '';
	display: block;
	height: 0;
	top: 50%;
	position: absolute;
	right: -14px;
	width: 0;
	margin-top: -6px;
}
.tooltip_size > .tooltip_text:before, .tooltip_size > .tooltip_text:after {
	content: '';
	display: block;
	height: 0;
	left: 50%;
	position: absolute;
	top: auto;
	width: 0;
}

.tooltip_text:before {
	border: solid 7px transparent;
	border-color: transparent transparent transparent #a5b1bd;
}
	
.tooltip_size > .tooltip_text:before {
	border-color: #a5b1bd transparent transparent transparent;
	bottom: -14px;
	margin-left: 170px;
}

.tooltip_text:after {
	border: solid 6px transparent;
	border-color: transparent transparent transparent #424242;
	right: -12px;
	margin-top: -5px;
}

.tooltip_size > .tooltip_text:after {
	margin-left: 170px;
	bottom: -12px;
	border-color: #424242 transparent transparent transparent;
}
.container {
	margin: 10px auto 10px auto;
	padding: 5px 40px 35px 35px;
	max-width: 450px;
	background-color: #F8F8F9;
	background-color: #FFF;
	border: 5px solid transparent;
	}
progress {
	border: 0;
	height: 20px;
	/*border-radius: 9px transparent #DCDCDC;*/
	width: 100%;
	border-bottom: 2px solid #DCDCDC;
}
progress::-webkit-progress-value {
	background: #EF5F3C;
}
progress::-webkit-progress-bar {
	background: white;
}
.p1{
	color: #949494;
	font-weight: 550;
	line-height: 20px;
	margin: 20px;
	font-size: 18px;
	padding: 0px 20px 0px 20px;
}
.p2{
	color: #949494;
	font-weight: 550;
	line-height: 30px;
	margin: 20px;
	font-size: 18px;
	padding: 0px 20px 0px 20px;
}

.text-style{
	color: #EF5F3C;
}
.box{
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #fff;
	border: 2px solid #DCDCDC;
	width: 100%;

}
.btn{
	display: inline-block;
	padding: 0px 20px 0px 20px;
}
.b1{
	background-color: #fff;
	border: 2px solid #DCDCDC; 
	font-size: 20px;
	/*line-height: 1.9;*/
	/*padding: 0.5625em 1em;*/
	font-weight: 700;
	text-align: left;
	letter-spacing: 0.02em;
	border-radius: 4px;
	margin: auto 10px auto 20px;
	height: 70px;
	width: calc(100% - 240px);
	padding: 0;
}
::-webkit-input-placeholder {
	color: #424242;
}
.b2{
	color: #fff;
	/*border: 0;*/
	background-color: #1CBC2C;
	border: 2px solid #1CBC2C; 
	font-size: 20px;
	/*line-height: 1.6875;
	padding: 0.5625em 1.5em;*/
	padding: 0;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.02em;
	border-radius: 4px;
	margin: auto 20px auto 10px;
	height: 70px;
	width: calc(100% - 240px);
}
.text-blue{
	color: #20A1D4;
	font-weight: 550;
	line-height: 20px;
	margin: 20px;
	font-size: 18px;
	padding: 0px 20px 0px 20px;
	}
.b3,.b4{
	color: #828282;
	/*border: 0;*/
	background-color: #f2f2f2;
	border: 2px solid #DCDCDC; 
	font-size: 16px;
	/*line-height: 1.6875;*/
	padding: 0px;
	/*padding: 0.5625em 1.5em;*/
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.02em;
	border-radius: 4px;
	height: 60px;
	width: calc(100% - 240px);
	overflow: hidden;
}
.b3{
	margin: 20px 12.5px 20px 0px;
}
.b4{
	
	margin: 20px 0px 20px 12.5px;
}