.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-grow: 1;
    margin: 30px auto 0;
    max-width: 935px;
    width: 100%;
}
.leftcolumn{
   background-color: blue;
    -webkit-flex: auto;
    flex: auto;
}
.anime{
    margin: 96px 0 0 132px;
    position: relative;
}
.animeimage{
    height: 427px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
    /*top: 96px;
    left: 132px;*/
}
.rightcolumn{
    -webkit-flex: auto;
    flex: auto;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 12px;
    max-width: 350px;
    margin-left: -200px;
    margin-right: 75px;
}
.mobile{
    align-self: center;
    background: url("https://instagramstatic-a.akamaihd.net/h1/images/homepage/home-phones.png/26f8f9119be7.png") no-repeat;
    background-position: 0 0;
    flex-basis: 454px;
    height: 618px;
    margin-top: 40px;
}
.box{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 1px;
    margin: 0px 0px 10px;
}
.content{
    margin: 20px auto 10px;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    background-image: url("https://instagramstatic-a.akamaihd.net/h1/sprites/core/6f2033.png");
    background-repeat: no-repeat;
    background-position: 0px -322px;
    height: 49px;
    width: 171px;
}
.section{
    margin-bottom: 20px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.signuptext{
    color: #a5a7aa;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}
.fbbtn{
    color: white;
    line-height: 29px;
    margin: 8px 40px;
    background-color: #4090db;
    border-color: #4090db;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.fbicon{
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
    background-image: url("https://instagramstatic-a.akamaihd.net/h1/sprites/core/6f2033.png");
    background-repeat: no-repeat;
    background-position: -439px -322px;
    height: 16px;
    width: 16px;
}
.fbbtn:hover{
    background-color: #405D9B;
    border-color: #405D9B;
}
input{
    background-color: #FFF;
    border: 1px solid #edeeee;
    border-radius: 3px;
    font-size: 14px;
    width: calc(100% - 98px);
    padding: 5px 8px 5px;
    margin: 0 40px 6px;
    display: block;
    line-height: 23px;
}
::-webkit-input-placeholder {
    color: #4b4f54;
}
.p1{
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #818488;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 60px;
    text-align: center;
}
.s1{
    color: #818488;
    font-weight: 600;
}
.lgIn{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.p2{
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #4b4f54;
    font-size: 14px;
    line-height: 18px;
    margin: 15px;
    text-align: center;
}
a, a:visited {
    color: #125688;
    text-decoration: none;
}
.p3{
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #4b4f54;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
.apple{
    margin-right: 8px;
}
.img1,.img2{
    height: 40px;
}
.google{
    margin-right: 0;
}
.stores{
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: row;
    justify-content: center;
}
#site-footer{
    padding: 0px 20px 60px;
    background-color: white;
}
ul {
    list-style-type: none;
    width: 100%;     
}
li{
    float:left;
}
.rightlist{
    float:right;
    color: #4b4f54;
}
li a,.transparent{
    display: inline-block;
    line-height:62px;
    font-family: arial;
    font-size:12px;
    font-weight:300;
    padding:0 10px;
    text-decoration: none;
    font-weight:bold;
    text-transform: uppercase;
}
nav{
    max-width: 1020px;
    padding: 10px 60px ;
    margin: 0px
}