.container {
	/*margin: 10px auto 10px auto;
	padding: 5px 40px 35px 35px;
	max-width: 450px;
	background-color: gray;
	border: 5px solid transparent;*/
	/*vertical-align: middle;
    width: 100%;
    margin-top: 35px;
    margin-left: 30px;*/
    width:100%;
    display:box;
    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
     /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    /* W3C */
    display:box;
    box-orient:horizontal;
}
.leftcolumn{
	/*padding: 10px 60px 10px 40px;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.750em;
    position: relative;
    color: #2A2A2A;
    max-width: 575px;*/
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    -ms-flex:1.0; /* Internet Explorer 10 */
    box-flex:1.0;
    background: #FAFAFA;
}
.mobile{
	align-self: center;
    background: url("https://instagramstatic-a.akamaihd.net/h1/images/homepage/home-phones.png/26f8f9119be7.png") no-repeat;
    background-position: 0 0;
    flex-basis: 454px;
    height: 618px;
    margin-top: 70px;
    margin-left: 250px;
    margin-right: -15px;
}
.anime{
	margin: 96px 0 0 132px;
    position: relative;
}
.animeimage{
	height: 427px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
    /*top: 96px;
    left: 132px;*/
}
.rightcolumn{
    /*font-size: 14px;
    color: #666666;
    line-height: 0.938em;
    text-transform: uppercase;
    font-weight: 700;*/
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    -ms-flex:1.0; /* Internet Explorer 10 */
    box-flex:1.0;
    background: #FFF;
    margin-left: -15px;
    margin-right: 250px;
}
.section{
    flex-grow: 1;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}
.box{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 1px;
    margin: 30px 0 10px;
    padding: 10px 0;
}
.content{
    margin: 20px auto 10px;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    background-image: url("https://instagramstatic-a.akamaihd.net/h1/sprites/core/6f2033.png");
    background-repeat: no-repeat;
    background-position: 0px -322px;
    height: 49px;
    width: 171px;
}
h1{
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.formcontent{
    margin-bottom: 20px;
}
.signUp{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.signuptext{
    color: #a5a7aa;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}
.fbbtn{
   /* margin: 8px 40px;*/
    color: white;
    line-height: 29px;
    padding: 0 11px;
    cursor: pointer;
    background-color: #4090db;
    border-color: #4090db;
   /* background: none;*/
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-appearance: none;
}
button{
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    border: 2px outset buttonface;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    font: 13.3333px Arial;
}
.fbicon{
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
    background-image: url("https://instagramstatic-a.akamaihd.net/h1/sprites/core/6f2033.png");
    background-repeat: no-repeat;
    background-position: -439px -322px;
    height: 16px;
    width: 16px;
}
.fbbtn:hover{
    background-color: #405D9B;
     border-color: #405D9B;
}
.ortext{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin: 10px 40px 18px;
}
.rline,.lline{
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #c9cbcc;
    height: 1px;
    position: relative;
    top: 45%;
}
.or{
    color: #a5a7aa;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}
.formcontent{
    margin: 10px 40px 6px;
    position: relative;
}
.formbtn{
    background-color: #fdfdfd;
    border: 1px solid #edeeee;
    border-radius: 3px;
    font-size: 14px;
    padding: 9px 8px 7px;
    -webkit-appearance: none;
}