ul#taskList {
  padding: 0 25px;
}

li.task {
  list-style-type: none;
  font-family: Arial;
  font-size: 1.2em;
  padding: 7px 0;
}

li.task:hover {
  background-color: green;
}

li.task:hover .deleteTaskBtn {
  visibility: visible;
  opacity: 1;
}

li.task:not(:last-child) {
  border-bottom: 1px solid black;
}

input.taskCheckbox {
  position: relative;
  float: left;
  margin-right: 10px;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 1.5px;
  outline: none;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
}

input.taskCheckbox:checked {
  background-color: red;
}
input.taskCheckbox:checked:after {
  color: white;
  content: "\2713";
  display: block;
  font-size: 12px;
  height: 12px;
  position: absolute;
  width: 12px;
  left: 0.5px;
  bottom: 2px;
}

input.taskCheckbox + label.taskLabel {
  color: white;
}

input.taskCheckbox:checked + label.taskLabel {
  font-style: italic;
  color: rgba(0,0,0,0.8);
  font-weight: 500;
  font-size: 18px;
}

input[placeholder] {
  font-size: 1.1em;
}
input:focus {
  background-color: #555555;
}
#container {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 0 auto;
 /* background-color: #5061EA;*/
  background-color: green;
  border-radius: 5px;
  /*max-width: 580px;*/
}

#header {
  color: white;
  padding: 25px;
  text-align: center;
  font-family: Arial, sans-serif;
}

#inputContainer {
  padding: 10px;
}

#inputContainer #taskInput {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

#listWrapper {
  position: absolute;
  bottom: 50px;
  top: 160px;
  right: 0;
  left: 0;
  overflow: auto;
}

#btnWrapper {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 15px;
  padding: 0 15px;
}

#btnWrapper #deleteCompletedBtn, #btnWrapper #clearTasksBtn, #btnWrapper #editBtn {
  float: left;
  position: relative;
  opacity: 0.5;
  color: white;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  border: 1px solid white;
  width: 150px;
  height: 25px;
  font-size: 14px;
  outline: none;
  margin: 10px 10px 10px 10px;
}

#btnWrapper #deleteCompletedBtn:hover, #btnWrapper #clearTasksBtn:hover, #btnWrapper #editBtn:hover {
  cursor: pointer;
  opacity: 1;
}
.deleteTaskBtn {
  float: right;
  color: black;
  background: rgba(0,0,0,0);
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 1px;
  padding: 10px 5px;
  visibility: hidden;
  opacity: 0;
  line-height: 0;
  margin-right: 5px;
  cursor: default;
}
/*.editTaskBtn{
  float: right;
  color: black;
}*/

.deleteTaskBtn:hover {
  background-color: #DF0902;
}