#container {
  width: 40%;
  height: 500px;
  position: relative;
  margin: 0 auto;
 background-color: #5061EA;

  border-radius: 5px;
  /*max-width: 580px;*/
}
#header {
  color: white;
  padding: 25px;
  text-align: center;
  font-family: Arial, sans-serif;
}

#inputContainer {
  padding: 10px;
}

#inputContainer #taskInput {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

#listWrapper {
  position: absolute;
  bottom: 50px;
  top: 160px;
  right: 0;
  left: 0;
  overflow: auto;
}

#btnWrapper {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 15px;
  padding: 0 15px;
}

#btnWrapper #deleteCompletedBtn, #btnWrapper #clearTasksBtn, #btnWrapper #editBtn {
  float: left;
  position: relative;
  opacity: 0.5;
  color: white;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  border: 1px solid white;
  width: 150px;
  height: 25px;
  font-size: 14px;
  outline: none;
  margin: 10px 10px 10px 10px;
}

#btnWrapper #deleteCompletedBtn:hover, #btnWrapper #clearTasksBtn:hover, #btnWrapper #editBtn:hover {
  cursor: pointer;
  opacity: 1;
}

.deleteTaskBtn {
  float: right;
  color: black;
  background: rgba(0,0,0,0);
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 1px;
  padding: 10px 5px;
  visibility: hidden;
  opacity: 0;
  line-height: 0;
  margin-right: 5px;
  cursor: default;
}

.deleteTaskBtn:hover {
  background-color: #DF0902;
}