body{
     background-color: white;> }
 .box{
     width: 300px;
     margin: 50px auto;
     border:1px solid #999;
     background-color: #F1F1F1;
     padding: 20px;
     font-family: helvetica;
 }
 h3{
     text-align: center;
 }
 input[type="text"], input[type="password"], table{
     width: 100%;
 }
 input[type="text"], input[type="password"]{
     padding: 5px;
 }
 td{
     vertical-align: top;
     padding: 5px;
     line-height: 1.5em;
 }
 input[type="submit"]{
     border: 1px solid #999;
     background-color: #333;
     padding: 5px;
     width: 100px;
     color: #FFF;
     margin: 20px auto 0px;
     display: block;
     text-transform: uppercase;
     line-height: 1.5em;
     font-size: 14px;