button {
	background-color: #337ab7; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px;
}

.danger {
	background-color: #d9534f; 
	border: 1px solid #d43f3a; 
}

.success {
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
}