
button {
	background-color: #337ab7; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px;
	cursor: pointer;
}

button:hover {
	background-color: #286090;
    border-color: #204d74;
}

.danger {
	background-color: #d9534f; 
	border: 1px solid #d43f3a; 
}

.success {
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
}

.box {
	text-align:center; 
	margin:10px;
	padding:10px;
	border: 1px solid #666;
	background-color: #F1F1F1;
	overflow: auto;
}

#app {
	background-color: #FFFFCC;
}

ul {
	padding: 0;
	list-style-type: none;
	overflow: auto;
	padding: 10px;
}

li {
	border: 1px solid #AAAAAA;
	display: inline;
	padding: 5px;
	background-color: #FFFFCC;
}

body {
	margin: 0;
	font-size: 18px;
}

img {
	float: left;
	margin-right: 10px;
}

.icon {
	width: 50px;
	height: 50px;
	border: 1px solid red;
	margin: 0 auto;
	background: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png) no-repeat left top;
}

.white-bell {
	background-position: -67px -7px;
}

.black-bell {
	background-position: 2px -7px;
}

.small-bell {
	width: 20px;
	height: 20px;
	background-position: -150px -9px;
}

.google-black-icon {
	width: 190px;
    height: 64px;
    background-position: -190px 0px;
}

form{
	width:200px;
	margin: 0 auto;
	text-align: left;
}
label{
	display: block;
}