.a{
	background-color: #93FFE8; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px;
}

.e{
	background-color:#CCFB5D; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px; 
}

.p{
	background-color:#EDC9AF; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px;
}
.t{
	background-color:#E3E4FA; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px;

}
.ac{
	background-color:#FDEEF4; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px;
}
.back{
	background-color:#FFE87C; 
	border: 1px solid #2e6da4; 
	color:#ffffff; 
	padding: 6px 12px; 
	border-radius:4px; 
	font-size:14px;
}